@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}
.container-fluid {
  margin-top: 15px;
}

.card {
  display: inline-block;
  margin: auto;
  height: 500px;
  width: 300px;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid black;
  position: relative;
  text-align: center;

  .top-suit {
    position: absolute;
    top: -20px;
    left: 15px;
    font-size: 95px;
  }
  .bot-suit {
    position: absolute;
    bottom: -5px;
    right: 15px;
    font-size: 95px;
    transform: scaleY(-1);
  }
  .num {
    line-height: 400px;
    font-size: 150px;
  }
}

.card.♦,
.card.♥ {
  color: red;
}
.card.♠,
.card.♣ {
  color: black;
}

button {
  margin-top: 5px;
  border-radius: 15px;
  border: 1px solid black;
}
